{% extends "base.twig" %} {% block head %} {{ parent() }}
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css?v=2.0"/>
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css?v=2.0"/>
<link rel="stylesheet" href="{{ site.theme.link }}/assets/css/index.css?v=1.3" type="text/css" media="screen" /> {% endblock %} {% block content %}
<section class="pt-4 pb-5">
    <div class="container">
        <div class="row">
             <div class="col-12 text-center mb-4 mx-auto">
                <div class="col-12 col-sm-12 col-md-8 col-lg-8 col-xl-8 text-center mx-auto">
                    <h2 class="text-uppercase">Últimas notícias</h2>
                    <p>Aqui você pode checar as novidades sobre Saint Seiya Awakening. Não deixe de ficar por dentro das notícias mais recentes.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <ul class="post-list p-0 d-flex align-items-center justify-content-center m-auto">
                    {% if spotlight %} {% for post in spotlight %}
                    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                        <li class="post-card post-spotlight">
                            <a href="{{ post.post_link }}" alt="Link da postagem {{ post.title }}">
                                <span class="post-card-tag"><i class="far fa-star fa-lg"></i> Destaque</span>
                                <img src="{{ post.post_img }}" alt=" {{ post.post_title }} ">
                                <div class="post-card-info">
                                    {% for tag in post.post_tag %} {% if tag.slug != 'news' and tag.slug != 'spotlight'%}
                                    <span class="post-card-category {{ tag.slug }}-category">
                                        
                                        {{tag.name}}
                                        
                                    </span> {% endif %}{% endfor %}

                                    <h5>{{ post.post_title }}</h5>
                                </div>
                            </a>
                        </li>
                    </div>
                    {% endfor %} {% endif %} {% if public %}
                    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 px-md-0 text-center justify-content-center">
                        {% for post in public %}
                        <li class="post-card">
                            <a href="{{ post.post_link }}" alt="Link da postagem {{ post.title }}">
                                <img src="{{ post.post_img }}" alt=" {{ post.post_title }} ">
                                <div class="post-card-info">
                                    {% for tag in post.post_tag %} {% if tag.slug != 'news' and tag.slug != 'spotlight'%}
                                    <span class="post-card-category {{ tag.slug }}-category">
                                        
                                        {{tag.name}}
                                        
                                    </span> {% endif %}{% endfor %}
                                    <h5>{{ post.post_title }}</h5>
                                </div>
                            </a>
                        </li>
                        {% endfor %}
                    </div>
                    {% endif %}
                </ul>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-12 m-auto text-center">
                <button type="button" class="col-2 btn-showmore" onclick="window.location.href = '{{ site.link }}/news/'">Ver mais</button>
            </div>
        </div>
    </div>
</section>
<!--
<div class="row">
    <div class="container">
        <div class="col-12">
            <div class="mini divider">
                <div class="sk-folding-cube">
                    <div class="sk-cube1 sk-cube"></div>
                    <div class="sk-cube2 sk-cube"></div>
                    <div class="sk-cube4 sk-cube"></div>
                    <div class="sk-cube3 sk-cube"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<section class="pt-3 pb-5 channel-videos">
    <div class="container">
     <div class="row">
             <div class="col-12 text-center mb-4 mx-auto">
                <div class="col-12 col-sm-12 col-md-8 col-lg-8 col-xl-8 text-center mx-auto">
                    <h2 class="text-uppercase">Últimos vídeos de SamukaPLM</h2>
                    <p>Você pode encontrar nessa sessão os vídeos postados pelo youtuber SamukaPLM. Siga o canal para receber notícias sobre guias do jogo, sobre o torneio Jamiel e muito mais. Não deixem de acompanhar o canal, curtindo os vídeos e compartilhando-os para seus amigos.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="main-channel-videos w-100" id="main-channel-videos">
                {% for item in videos %}
                    <a href="{{ item.video }}" target="__blank">
                        <img data-lazy="{{ item.thumbnail }}" class="text-center channel-videos" alt="{{ item.title }}"/>
                    </a>
                {% endfor %}
            </div>
        </div>
    </div>


</section>
-->

<!--
<section class="py-4 last-characters parallex">
    <div class="container position-relative h-100">
        <div class="row h-100">
            {% for saint in character %}
            <div id="{{ saint.character_slug }}" class="icharacter flex-column justify-content-center align-items-center h-100 w-100" {% if loop.first %} {% else %} style="display:none" {% endif %}>
                <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 position-absolute character-picture">
                    <img src="{{ saint.character_picture }}" height="680" alt=" Imagem {{ saint.character_name }} ">
                </div>
                <div class="character-info col-12 col-sm-12 col-md-8 col-lg-6 col-xl-6 position-absolute text-center text-md-left" style="z-index:2;">
                    <h1 class="text-white">{{ saint.character_name }}</h1>
                    <p class="text-white">{{ saint.character_description }}</p>
                    <ul class="list-inline character-skills" style="margin-bottom: 2rem;">
                        {% for skills in saint.character_skills %} {% if skills not in [1,2,3,4] %}
                        <li class="list-inline-item">
                            <img src="{{ skills.img }}" class="img-fluid" alt=" {{ saint.character_name }} Skills" />
                        </li>
                        {% endif %} {% endfor %}
                    </ul>
                    <a href="#" class="character-more" alt="Ver mais sobre {{ saint.character_name }}">Ver mais</a>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="row position-absolute w-100 px-3" style="bottom:0;z-index:2;">
            <div class="slider-characters w-100 text-center">
                {% for saint in character %}
                <div>
                    <button class="p-0 {{ saint.character_rarity }}-ranking item-character" onclick="openCharacter('{{ saint.character_slug }}')">
                        <img data-lazy="{{ saint.character_thumb }}" class="text-center" alt="Miniatura de {{ saint.character_name }}" />
                        <div class="saint-ranking {{ saint.character_rarity }}-rarity">
                            <img src="{{ site.theme.link }}/assets/images/{{ saint.character_rarity }}-rarity.png" alt="Raridade do personagem"/>
                        </div>
					</button>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>
-->
<div class="row">
    <div class="container">
        <div class="col-12">
            <div class="mini divider">
                <div class="sk-folding-cube">
                    <div class="sk-cube1 sk-cube"></div>
                    <div class="sk-cube2 sk-cube"></div>
                    <div class="sk-cube4 sk-cube"></div>
                    <div class="sk-cube3 sk-cube"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<section class="py-4 guide-session">
    <div class="container">
        <div class="row">
             <div class="col-12 text-center mb-4 mx-auto">
                <div class="col-12 col-sm-12 col-md-8 col-lg-8 col-xl-8 text-center mx-auto">
                    <h2 class="text-uppercase">Guias</h2>
                    <p>Guias destinados para auxiliar você a melhorar sua conta em Saint Seiya Awakening.</p>
                </div>
            </div>
            <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 py-2">
                <div class="guide-item" onclick="window.location.href='{{site.url}}/guides/cosmos'">
                    <img src="{{ site.theme.link }}/assets/images/guide-cosmos.webp" class="img-fluid" alt="Guia de cosmos" />
                </div>
            </div>
            <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 py-2">
                <div class="guide-item guide-item-animation guide-item-border-animation" onclick="window.location.href='{{site.url}}/guides/dungeons'">
                    <img src="{{ site.theme.link }}/assets/images/guide-dungeons.webp" class="img-fluid" alt="Guia de masmorras" />
                </div>
            </div>
            <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 py-2">
                <div class="guide-item" onclick="window.location.href='{{site.url}}/guides/tips'">
                    <img src="{{ site.theme.link }}/assets/images/guide-tips.webp" class="img-fluid" alt="Guia de dicas" />
                </div>
            </div>
            <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 py-2">
                <div class="guide-item" onclick="window.location.href='{{site.url}}/guides/others'">
                    <img src="{{ site.theme.link }}/assets/images/guide-others.webp" class="img-fluid" alt="Guia de outras coisas" />
                </div>
            </div>
        </div>
    </div>
</section>
<div class="row">
    <div class="container">
        <div class="col-12">
            <div class="mini divider">
                <div class="sk-folding-cube">
                    <div class="sk-cube1 sk-cube"></div>
                    <div class="sk-cube2 sk-cube"></div>
                    <div class="sk-cube4 sk-cube"></div>
                    <div class="sk-cube3 sk-cube"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<section class="py-4 members-session">
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-12 col-md-8 col-lg-8 col-xl-8 text-center mb-4 mx-auto">
                <h2 class="text-uppercase">Nossa equipe</h2>
                <p>Essa é a equipe responsável pela criação desse site. Cada um responsável por uma parte para criar esse site para o uso de todos.</p>
             </div>
        </div>
         <div class="row">
            {% for member in team %}
            <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-3 mb-2 mx-auto">
                <div class="our-team">
                    <div class="pic m-auto">
                        <img src="{{ member.avatar }}" alt="" class="img-fluid" alt="Foto de {{ member.name }}">
                        <ul class="social">
                            {% if member.twitter %}
                            <li><a href="{{ member.twitter }}" target="_blank"><i class="fab fa-twitter">
                            </i></a></li>
                            {% endif %} {% if member.facebook %}
                            <li><a href="{{ member.facebook }}" target="_blank"><i class="fab fa-facebook"></i></a></li>
                            {% endif %} {% if member.instagram %}
                            <li><a href="{{ member.instagram }}" target="_blank"><i class="fab fa-instagram"></i></a></li>
                            {% endif %} {% if member.live %}
                            <li><a href="{{ member.live }}" target="_blank"><i class="{% if member.plataform_live == 'twitch' %}fab fa-twitch{% elseif member.plataform_live == 'youtube' %}fab fa-youtube{% elseif member.plataform_live == 'facebook' %}fa-facebook-f{% else %}fa fa-headset {% endif %}"></i></a></li>
                            {% endif %}
                        </ul>
                    </div>
                    <div class="team-content">
                        <h3 class="title">{{ member.name }}</h3>
                        <span class="post">{{ member.role }}</span>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
{% endblock %} {% block script %} {{ parent() }}
<script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js?v=2.0"></script>
<script type="application/javascript">
    $(document).ready(function() {
        $('.slider-characters').slick({
            centerMode: true,
            slidesToShow: 5,
            centerPadding: '10px',
            arrows: true,
            responsive: [{
                breakpoint: 992,
                settings: {
                    arrows: true,
                    centerMode: true,
                    slidesToShow: 3
                }
            }, {
                breakpoint: 768,
                settings: {
                    arrows: true,
                    centerMode: true,
                    slidesToShow: 3
                }
            }, {
                breakpoint: 576,
                settings: {
                    arrows: true,
                    centerMode: true,
                    centerPadding: '10px',
                    slidesToShow: 2
                }
            }],
            prevArrow: '<button class="a-left control-c prev arrow-prev"></button>',
            nextArrow: '<button class="a-right control-c next arrow-next"></button>'
        });
        $('#main-channel-videos').slick({
            lazyLoad: 'ondemand',
            centerMode: true,
            centerPadding: '60px',
            slidesToShow: 3,
            variableWidth: true,
            responsive: [
                {
                breakpoint: 768,
                settings: {
                    arrows: false,
                    centerMode: true,
                    centerPadding: '60px',
                    slidesToShow: 2
                }
                },
                {
                breakpoint: 480,
                settings: {
                    arrows: false,
                    centerMode: true,
                    centerPadding: '40px',
                    slidesToShow: 1
                }
                }
            ]
        });
    });

    function openCharacter(characterName) {
        var i;
        var x = document.getElementsByClassName("icharacter");
        for (i = 0; i < x.length; i++) {
            var d = x[i].id;
            if (d.id != characterName) {
                $("#" + d).css({
                    display: 'none'
                }).animate({
                    opacity: 0
                }, 100)
            }
        }
        $("#" + characterName).css({
            display: 'flex'
        }).animate({
            opacity: 1
        }, 100);

    }
</script>

{% endblock %}